<div class="w3-bar">
  <div class="w3-bar-item w3-right">
    <img routerLink="/ResturantProfile" src="../../assets/img/pencil-edit-button.png" height="50px" />
  </div>
  <div class="w3-bar-item w3-right ">
    <img (click)="openDonationModal()" src="../../assets/img/donation1.png" height="50px" />
  </div>
</div>

<div class="w3-container">
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/img/restaurant-chocolat.jpg" width="70%" height="300px" class="thumbline"/>
    </div>
    <div class="col-md-4">
      <h3>Resturant Profile Name</h3>
      <h5>
        <label>+91-8339829343</label><br/>
        <label>abc@gmail.com</label><br/>
      </h5>
      <h5>Address:</h5>
      <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
    <div class="col-md-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.1811593652637!2d77.61217751482114!3d12.896069890905462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae14dc1797d309%3A0x5765710ab9ed9098!2sDeccan+Expressions%2C+2nd+Cross+Road%2C+Doctors+Layout%2C+Bommanahalli%2C+Bengaluru%2C+Karnataka+560076!5e0!3m2!1sen!2sin!4v1562349494697!5m2!1sen!2sin" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </div>
</div>
<div class="w3-container w3-padding-16">
    <h5 class="w3-black w3-padding">Restaurant Log:</h5>
    <div class="w3-card-4 w3-padding " style="margin-top: -10px" >
      <div class="w3-container w3-padding w3-border" style="margin: 10px">
        <!-- Single Assignment Log -->
        <div class="row">
          <div class="col-md-3">
            <label>Pick Up Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Delivery Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Order Details</label>
            <table class="table">
              <tr>
                <th>Quantity</th>
                <td>10</td>
              </tr>
              <tr>
                <th>Veg</th>
                <td>5</td>
              </tr>
              <tr>
                <th>Non-Veg</th>
                <td>5</td>
              </tr>
            </table>
          </div>
          <div class="col-md-3 w3-padding">
            <div class="row">
              <div class="col-md-12">
                <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
                &nbsp;
                <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
                &nbsp;
                <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Of Assignment Log -->
      </div>
  
      <div class="w3-container w3-padding w3-border" style="margin: 10px">
        <!-- Single Assignment Log -->
        <div class="row">
          <div class="col-md-3">
            <label>Pick Up Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Delivery Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Order Details</label>
            <table class="table">
              <tr>
                <th>Quantity</th>
                <td>10</td>
              </tr>
              <tr>
                <th>Veg</th>
                <td>5</td>
              </tr>
              <tr>
                <th>Non-Veg</th>
                <td>5</td>
              </tr>
            </table>
          </div>
          <div class="col-md-3 w3-padding">
            <div class="row">
              <div class="col-md-12">
                <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
                &nbsp;
                <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
                &nbsp;
                <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Of Assignment Log -->
      </div>
  
      <div class="w3-container w3-padding w3-border" style="margin: 10px">
        <!-- Single Assignment Log -->
        <div class="row">
          <div class="col-md-3">
            <label>Pick Up Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Delivery Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Order Details</label>
            <table class="table">
              <tr>
                <th>Quantity</th>
                <td>10</td>
              </tr>
              <tr>
                <th>Veg</th>
                <td>5</td>
              </tr>
              <tr>
                <th>Non-Veg</th>
                <td>5</td>
              </tr>
            </table>
          </div>
          <div class="col-md-3 w3-padding">
            <div class="row">
              <div class="col-md-12">
                <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
                &nbsp;
                <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
                &nbsp;
                <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Of Assignment Log -->
      </div>
  
      <div class="w3-container w3-padding w3-border" style="margin: 10px">
        <!-- Single Assignment Log -->
        <div class="row">
          <div class="col-md-3">
            <label>Pick Up Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Delivery Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Order Details</label>
            <table class="table">
              <tr>
                <th>Quantity</th>
                <td>10</td>
              </tr>
              <tr>
                <th>Veg</th>
                <td>5</td>
              </tr>
              <tr>
                <th>Non-Veg</th>
                <td>5</td>
              </tr>
            </table>
          </div>
          <div class="col-md-3 w3-padding">
            <div class="row">
              <div class="col-md-12">
                <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
                &nbsp;
                <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
                &nbsp;
                <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Of Assignment Log -->
      </div>
  
      <div class="w3-container w3-padding w3-border" style="margin: 10px">
        <!-- Single Assignment Log -->
        <div class="row">
          <div class="col-md-3">
            <label>Pick Up Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Delivery Address</label>
            <br />
            #11/1A 2nd A main 2nd Cross Kodichikkanahalli 4th stage, BTM 2nd Stage, Bengaluru, Karnataka 560076
            <br />
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.723977937096!2d77.6145751!3d12.8960805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2647c13c1c5377de!2sDeccan+Expressions!5e0!3m2!1sen!2sin!4v1561914237147!5m2!1sen!2sin"
              width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <label>Order Details</label>
            <table class="table">
              <tr>
                <th>Quantity</th>
                <td>10</td>
              </tr>
              <tr>
                <th>Veg</th>
                <td>5</td>
              </tr>
              <tr>
                <th>Non-Veg</th>
                <td>5</td>
              </tr>
            </table>
          </div>
          <div class="col-md-3 w3-padding">
            <div class="row">
              <div class="col-md-12">
                <button class="w3-btn w3-orange w3-small w3-round">Recived</button>
                &nbsp;
                <button class="w3-btn w3-blue w3-small w3-round">Picked</button>
                &nbsp;
                <button class="w3-btn w3-teal w3-small w3-round">Delivered</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Of Assignment Log -->
      </div>
    </div>
  </div>

<!-- Resturant Donation Modal -->
<div class="w3-modal" id="donationModal">
  <div class="w3-modal-contant">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h5 class="w3-padding w3-black">Donation<span (click)="closeDonationModal()" class="w3-text-red w3-right">&times;</span></h5>
        <div class="w3-container w3-padding w3-white " style="margin-top: -10px">
            <table class="w3-table-all">
                <tr>
                  <th>Total Availability</th>
                  <td><input type="number" name="resturantName" placeholder="Enter Total Availability..." class="w3-input">
                  </td>
                </tr>
                <tr>
                  <th>Veg Availability</th>
                  <td><input type="number" name="resturantName" placeholder="Enter Veg Amount..." class="w3-input"></td>
                </tr>
                <tr>
                  <th>Non-Veg Availability</th>
                  <td><input type="number" name="resturantName" placeholder="Enter Non-Veg Amount..." class="w3-input"></td>
                </tr>
                <tr>
                  <th></th>
                  <td><button class="w3-btn w3-yellow w3-small w3-round">Update</button></td>
                </tr>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Of Resturant Donation Modal-->